.Header-container {
    background-color: #282c34;
    min-height: 18vh;
    display: flex;
    flex-direction: row;
    color: white;
  }
  
  .Header-container > * {
    flex: 1;
    display: flex;
    align-items: center;
  }
  
  .Header-container:nth-child(0) {
    justify-content: flex-start;
  }
  
  .Header-container:nth-child(1) {
    justify-content: center;
  }
  
  .Header-container:nth-child(2) {
    justify-content: flex-end;
  }
  
  .Header-logo {
    max-height: 18vmin;
    pointer-events: none;
  }
  
  .Header-title {
    font-size: 2em;
  }